@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  /*FONT STYLING  */
  --FF: /*' Mulish', sans-serif; */ 'Playfair Display', serif;
  --FFinformal: 'Montserrat', sans-serif;
  --FSL: clamp(1.5rem,3.5vw, 4rem);
  --FS: clamp(1.2rem,1.5vw, 3rem);
  --FSS:clamp(1rem, 1.2vw, 2rem);
  --FSS:clamp(1rem, 1vw, 2rem);

  /* COLORS */

  --YELLOWCOL:rgb(255, 182, 6);
/* --SCCOLOR :#720000;
--TRCOLOR: #84ACF3;
--PTCOLOR: #EF3038; */
--WHITECOL:#fff7e6;
--DREDCOL: #ba0101;
--REDCOL: rgb(255, 72, 43);
--BLACKCOL: #010101;
--BLUECOL: #5679ab;


  /* GENERAL */
  --PADDING: .5rem;
  --MARGIN: 2rem;
  --GAP: 2rem;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--YELLOWCOL);
  font-family: var(--FF);
  font-size: var(--FS);  
  color: black;
  overflow-x:hidden;
}
h2{
  letter-spacing: -1px;
}


/* ||MAIN NAV BAR IS IN UNIV CSS*/
.main-nav{
  height:10vh;
/*   position: sticky; */
  top: 0px;
  z-index: 1;
  margin-top: 1rem;
  background-color: var(--YELLOWCOL);
  border-block: 2px solid #010101;
}
.main-nav ul{
  height:inherit;
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: var(--MARGIN);
  list-style: none;
  gap: 2rem;
  padding: var(--PADDING);
  text-align: center;
}
.main-nav-button{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.main-nav-button a{
  text-decoration:none;
  color: black;
  padding: inherit;
  
}


/* button slide animations */
#underline1, #underline2, #underline3{
  width: 100%;
  height: 2.5px;
  margin-top: 15px;
  left: -200px;
  background-color: var(--BLACKCOL);
  position: absolute;
  transition: all .3s ease-Out;
  bottom: 0;
}
.main-nav-button:hover #underline1,.main-nav-button:hover #underline2, .main-nav-button:hover #underline3 {
  left: 0;
}
/* || MAIN GREETING */
.main-header{
  height: 90vh;
  width: 100%;

}
.main-header-most{
  height:inherit; width: inherit;
  position:relative;
}
#main-header-g1{
  position: absolute;
  font-family: 'Playfair Display', serif;
  left:2%;
  bottom:5%;
  z-index: 1;

}
#main-header-g1 h1{
  font-size: 10vw;
  white-space: nowrap;
  text-shadow: 2px 2px 5px #fff7e9;
}
#main-header-g1 h2{
  font-size:2.2vw;
  color: #333333;

}
#main-header-g2{
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #333333;
  z-index: 1;
}
#svg5{
  width: 100%;
  height: auto;
  margin-inline:auto;
  object-fit: none;
  overflow: visible;
  position: absolute;
  top: 5%;
  left: 0%;
}
#rocket-svg{
  width: 5%;
  height: auto;
}
#main-header-inner{
  width: 100%;
  display: flex;
  justify-content: center;
}
#sun-top{
  position: absolute;
  top: 20%;
  z-index: 9999;
}

#name{
  position: absolute;
  top: 30%;
  left: 30%;
  color: black;
  z-index: 1;
}

/* ||CONTENT SECTION */
.content-container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.content-card{
  scroll-margin-top: 9.5rem;
  width: 73.4%;
  background-color: rgb(86, 121, 171, 0%);
  border-top: 2px solid var(--BLACKCOL);
 /*  padding-top: 100px; */
  margin:auto;
  height: 90vh;
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
  position: relative;
}
/* First card */
#card0 {
  height: 120vh;
  position: relative;
}
.textblock1{
  width: 600px;
  display: flex;
  justify-content: center;
  font-size: var(--FS);
  line-height: 2.7rem;
  font-family: var(--FFinformal);
  position: absolute;
  top: 30vh;
}
#card0-meinrocket{
  width: 15vw;
  position: absolute;
  bottom: 0;
  left: 2vw;
}
#card1{
  height: 130vh;
  

}
.card1-inner, .card2-inner{
  width: 100%;
  height: 100%;
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.card1-inner-header-container{
  text-align: center;
}
.card1-inner-header, .card2-inner-header{
  padding: 1rem;
  font-size: var(--FSL);
}
.card1-inner-sub{
  font-size: var(--FS);
  white-space: nowrap;
  font-family: var(--FFinformal);
}
.card1-inner-content-container{
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.card1-inner-ul{
  padding-left: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  width: 26.3vw;
  font-size: var(--FSS);
  font-family: var(--FFinformal);
  line-height: 2.2rem;
  position:relative;

}

.card1-inner-ul li{
  color: #444444;
}
.card1-inner-list-item:first-child{
  color:var(--BLACKCOL);
}
#card1-inner-ul-highlighter{
  width:100%;
  height: 2.5vw;
  background-color: var(--REDCOL);
  border-radius: 15px;
  position:absolute;
  top:0;
  left:0;
  margin-top: 1.25rem;
  z-index: -9999;
  opacity: 70%;
}
.card1-icons-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50vh;
  gap: .5rem;
  scroll-snap-type: block;
  border: 2px solid black;
  position:relative;
  border-radius: 15px;
  overflow-x: hidden;
}
.card1-icons-spacer{
  width: 100%; height:100%;
  position: absolute;
  right: -100%;
  display: grid;
  place-content: center;
}
.card1-icons-spacer:nth-child(1){
  right:0;
}
.card1-icons{
  scroll-snap-align: start;
  width: auto; height:17.5vw;
}
.card1-inner-images-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}
.card1-inner-images{
  width: 20vw;
  background-color: var(--BLACKCOL);
}

/*
#card1-icons-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.card1-icons{
  padding: 1rem;
}
#space-land-img{
  width: 100vw;
  height: auto;
  position:absolute;
  bottom: 0;
} */
/* .inner{
  width:100%;
  display:grid;
  grid-template-rows: 8vw 1fr;
} */
/* 
.inner.style1{
  grid-template-columns: 37vw 1fr;
}
.inner.style1 h2{
  grid-column: 1/2;
  display: grid;
  place-content: center;
} */
/* .text{
  font-size: var(--FS);
  align-items: center;
  font-family: var(--FFinformal);
  line-height: 2.2rem;
  width: 35vw;
}

.img-rep-1{
  background-color:black;
  grid-row: 1/3;
  grid-column: 2/3;
} 
.inner.style2{
  grid-template-columns: 33.4vw 40vw;
  grid-template-rows: 7vw 1fr;
}
.text2, #oval-frame{
  grid-column: 2/3;
  
}
.inner.style2 h2{
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: center;
}

#oval-frame{
  border-radius: 30% 30%;
  background-color: rebeccapurple;
  grid-column:1/2;
  margin-inline: 5vw;
}
.text2{
  font-size: var(--FSS);
  grid-row: 2/3;
  background-color: yellow;
  margin-inline: 5vw;
  width:50%; height:auto;
  list-style-position: outside;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  position: relative;
}
li::marker{
  position: absolute;
  top: -10px;
}  */
.card2-inner-content-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.skill-icon-column{
  height: 35vw; width: 95%;
  background-color: var(--REDCOL);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: .5rem;
  align-items: center;
  border-radius: 15px;
}
.skill-icon-column:nth-child(2){
  background-color:var(--BLUECOL);
}
.skill-icon-column h2{
  text-align: center;
  padding-top: 1rem;
}
.skill-icon-column p{
  font-size: var(--FSS);
}
.skill-icon-container{
  height: 15vw; 
  width: 15vw;
/*   background-color: var(--BLUECOL); */
}
.skill-icon{
  width: 100%;
  height:auto;
  fill:var(--WHITECOL)
}
/* .skill-icon:first-child{
  background-image: url("../img/IMG_0790.PNG");
  background-size: cover;
} */
/* ||FLOATING */
.circle-button{
  background-color: var(--BLUECOL);
  width: 5rem;
  height: 5rem;
  border: 0px solid;
  border-radius: 50%;
  cursor: pointer;
}
.circle-button a, .circle-button visited{
  color: var(--BLACKCOL);
  text-decoration: none;
  width: inherit;
  height: inherit;
  display:grid;
  place-content:center;
}
#up-button{
  position: fixed;
  right: 4%;
  bottom: 4rem;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 9999;
}
.footer-container{
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  height:10vh;
  width: 100%;
}
.footer-element{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-credits{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: flex-start;
  align-content: center;
}
.footer-credits p{
  font-size: var(--FSS);
  font-family: var(--FFinformal);
  padding-left: .5rem;
}
.footer-icon{

}
/* ||VERSIONS CSS  */

.h-scroll-container{
  width: 100%;
  overflow-x: scroll;
  height: 90vh;
  white-space: nowrap;
}
.h-content-container{
  width: 300vw;
  background-color: var(--REDCOL);
  height: inherit;
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  position: relative;
}
.h-intro-card{
  height: 70%;
  width: 40rem;
  background-color: var(--WHITCOL);
  border-radius: 15px;
  margin-inline: 5rem 20rem;
}
.h-intro-card{
  white-space: wrap;
  display: flex;
  padding-inline: 1rem;
  flex-direction: column;
  justify-content: center;
}
.h-intro-card h2{
  font-size: var(--FSL);
}
.h-intro-card p{
  font-size: var(--FSS);
  font-family: var(--FFinformal);
}
.h-content-card{
  height: 70%;
  width: 30rem;
  background-color: var(--YELLOWCOL);
  border-radius: 15px;
}
#h-scroll-instructions{
  position: absolute;
  right: 1vw;
  bottom: 2.5vw;
  z-index: 9999;
  font-size: var(--FSS);

}

